<script src="counter.service.ts"></script>
<div class="container">
  <h1 class="col-xs-12">Service example</h1>
  <app-screen></app-screen>
  <app-component-a></app-component-a>
  <app-component-b></app-component-b>
</div>
