<script src="component-b.component.ts"></script>
<div class="component col-6">
  <div class="content">
    <h2>ComponenteB</h2>
    <button (click)="substractOne()">-</button>
    <button (click)="addOne()">+</button>
  </div>
</div>
